/* FONTS
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Kaushan Script', cursive;
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: $width-sm;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  color: $black;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: $grey;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

//SCROLLBAR
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba($sky, .8); 
}