// COLOR
$black:  #333333;
$grey:   #999999;
$red:    #f38181;
$sky:    #95e1d3; 
$yellow: #fce38a;

// WEIGHT
$weight-light: 300;
$weight-norm:  400;
$weight-bold:  700;

// GRADIENT
$red-grad: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);

// BACKGROUND
$white-bg: rgba(255, 255, 255, 0.70);

// RADIUS
$radius-round: 50%;
$radius-md:    30px;

// WIDTH
$width-lg: 1250px;
$width-md: 768px;
$width-sm: 480px;